<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WcfServiceLibrary.Service1" behaviorConfiguration="mexBehaviour">
        <endpoint address="Service1" binding="basicHttpBinding" contract="WcfServiceLibrary.IService1"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfConsoleServer.DataService" behaviorConfiguration="mexBehaviour" >
        <endpoint  address="" binding="basicHttpBinding" contract="WcfConsoleServer.DataService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8083/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
